!!!5
%html
  %head
    %title Verlag CMS &ndash; #{current_site.name}#{@title.nil? ? '' :  "&ndash; #{@title}"}
    %link{ :rel => 'stylesheet', :href => "/admin/css/verlag.css", :type => 'text/css' }     
  
    - if RACK_ENV != 'development'
      %script{ :src => '/javascripts/admin.min.js', :type => 'text/javascript', :charset => 'utf-8' }
    - else   
      -# %script{ :src => '/javascripts/admin.js', :type => 'text/javascript', :charset => 'utf-8' } 
      
      %script{ :src => '/javascripts/vendor/jquery-1.6.2.min.js', :type => 'text/javascript', :charset => 'utf-8' }  
      %script{ :src => '/javascripts/vendor/jquery-ui-1.8.16.custom.js', :type => 'text/javascript', :charset => 'utf-8' } 
      %script{ :src => '/javascripts/vendor/modernizr.custom.92436.js', :type => 'text/javascript', :charset => 'utf-8' }   
      %script{ :src => '/javascripts/vendor/sammy.min.js', :type => 'text/javascript', :charset => 'utf-8' }
      %script{ :src => '/javascripts/vendor/sammy.title.js', :type => 'text/javascript', :charset => 'utf-8' }
      %script{ :src => '/javascripts/vendor/sammy.nested_params.js', :type => 'text/javascript', :charset => 'utf-8' } 
      %script{ :src => '/javascripts/vendor/sammy.json.js', :type => 'text/javascript', :charset => 'utf-8' } 
      %script{ :src => '/javascripts/vendor/mustache.js', :type => 'text/javascript', :charset => 'utf-8' } 
      %script{ :src => '/javascripts/vendor/sammy.mustache.js', :type => 'text/javascript', :charset => 'utf-8' } 
      %script{ :src => '/javascripts/vendor/js-model-0.10.1.js', :type => 'text/javascript', :charset => 'utf-8' }  
      %script{ :src => '/javascripts/vendor/sinatra-rest.js', :type => 'text/javascript', :charset => 'utf-8' } 
      %script{ :src => '/javascripts/vendor/jquery.cookie.js', :type => 'text/javascript', :charset => 'utf-8' } 
      %script{ :src => '/javascripts/vendor/sanskrit.js', :type => 'text/javascript', :charset => 'utf-8' } 
      
      // Ace
      %script{ :src => '/src/ace.js', :type => 'text/javascript', :charset => 'utf-8' }
      %script{ :src => '/src/theme-textmate.js', :type => 'text/javascript', :charset => 'utf-8' }
      %script{ :src => '/src/mode-javascript.js', :type => 'text/javascript', :charset => 'utf-8' }
      %script{ :src => '/src/mode-html.js', :type => 'text/javascript', :charset => 'utf-8' }
      %script{ :src => '/src/mode-css.js', :type => 'text/javascript', :charset => 'utf-8' }
      %script{ :src => '/src/mode-scss.js', :type => 'text/javascript', :charset => 'utf-8' }
      
      // %script{ :src => '/javascripts/vendor/codemirror.js', :type => 'text/javascript', :charset => 'utf-8' }  
      // %script{ :src => '/javascripts/modes/javascript.js', :type => 'text/javascript', :charset => 'utf-8' }
      // %script{ :src => '/javascripts/modes/css.js', :type => 'text/javascript', :charset => 'utf-8' } 
      // %script{ :src => '/javascripts/modes/xml.js', :type => 'text/javascript', :charset => 'utf-8' }  
      // %script{ :src => '/javascripts/modes/liquid.js', :type => 'text/javascript', :charset => 'utf-8' }
      
      %script{ :src => '/javascripts/models/asset.js', :type => 'text/javascript', :charset => 'utf-8' }
      %script{ :src => '/javascripts/models/layout.js', :type => 'text/javascript', :charset => 'utf-8' }  
      %script{ :src => '/javascripts/models/part.js', :type => 'text/javascript', :charset => 'utf-8' } 
      %script{ :src => '/javascripts/models/page.js', :type => 'text/javascript', :charset => 'utf-8' }   
      %script{ :src => '/javascripts/models/site.js', :type => 'text/javascript', :charset => 'utf-8' } 
      %script{ :src => '/javascripts/models/user.js', :type => 'text/javascript', :charset => 'utf-8' } 
      
      %script{ :src => '/javascripts/lib/utilities.js', :type => 'text/javascript', :charset => 'utf-8' }
      
      %script{ :src => '/javascripts/controllers/base.js', :type => 'text/javascript', :charset => 'utf-8' }
      %script{ :src => '/javascripts/controllers/assets.js', :type => 'text/javascript', :charset => 'utf-8' }
      %script{ :src => '/javascripts/controllers/layouts.js', :type => 'text/javascript', :charset => 'utf-8' }
      %script{ :src => '/javascripts/controllers/pages.js', :type => 'text/javascript', :charset => 'utf-8' }  
      %script{ :src => '/javascripts/controllers/parts.js', :type => 'text/javascript', :charset => 'utf-8' }  
      %script{ :src => '/javascripts/controllers/sites.js', :type => 'text/javascript', :charset => 'utf-8' } 
      %script{ :src => '/javascripts/controllers/users.js', :type => 'text/javascript', :charset => 'utf-8' } 
      
      %script{ :src => '/javascripts/lib/admin.js', :type => 'text/javascript', :charset => 'utf-8' }  
        
      
    -# This is where the mustache templates are rendered  
    = content :head


  %body
    .wrapper
      #header 
        .notice
          messages go here 
        %h1
          - if authenticated?
            = current_user.email
          %a{ :href => "http://#{current_site.domain}/", :target => '_blank' }= current_site.name   
        - if authenticated?
          #tabs        
            %a.tab{ :id => 'sites-tab', :href => '/admin/sites' } Sites
            %a.tab{ :id => 'pages-tab', :href => '/admin/pages' } Pages 
            %a.tab{ :id => 'templates-tab', :href => '/admin/templates' } Templates
            %a.tab{ :id => 'assets-tab', :href => '/admin/assets' } Images 
            -# %a.tab{ :id => 'files-tab', :href => '/admin/assets' } Files 
            %a.tab{ :id => 'users-tab', :href => '/admin/users' } Users 
        = content :header
      #content 
        = yield  
        %noscript
          -# #editor 
          -#   %h1 You need to change a setting in your web browser</h1> 
          -#   %p 
          -#     This application requires a browser feature called <strong>JavaScript</strong>. All modern browsers support JavaScript. 
          -#     You probably just need to change a setting in order to turn it on.
          -#     
          -#   %p 
          -#     Please see: <a href="http://www.google.com/support/bin/answer.py?answer=23852">How to enable JavaScript in your browser</a>.
          -#   -# %p  
          -#   -#   If you use ad-blocking software, it may require you to allow JavaScript from basecamphq.com.
          -#   %p  
          -#     Once you've enabled JavaScript you can <a href="">try loading this page again</a>.</p> <p>Thank you.</p> </div> </div>
          
        
        
    #loader
      


