!!!5
%html
  %head
    %title Verlag CMS &ndash; #{current_site.name}#{@title.nil? ? '' :  "&ndash; #{@title}"}
    %link{ :rel => 'stylesheet', :href => "#{asset_path('application.css')}", :type => 'text/css' }   
     
    // Ace
    %script{ :src => '/javascripts/ace.js', :type => 'text/javascript', :charset => 'utf-8' } 
    %script{ :src => "#{asset_path('application.js')}", :type => 'text/javascript', :charset => 'utf-8' }

    = yield_content :head

  %body
    .wrapper
      %header.navbar.navbar-fixed-top
        .navbar-inner
          .container
            %h1
              - if authenticated?
                = current_user.email
              %a{ :href => "http://#{current_site.domain}/", :target => '_blank' }= current_site.name   
            - if authenticated?
              .nav      
                %a.tab{ :id => 'pages-tab', :href => '/admin/pages' } Pages 
                %a.tab{ :id => 'assets-tab', :href => '/admin/folders' } Files 
                %a.tab{ :id => 'templates-tab', :href => '/admin/templates' } Design
                %a.tab{ :id => 'settings-tab', :href => '/admin/settings' } Settings 
                // %a.tab{ :id => 'users-tab', :href => '/admin/users' } Users 
                // %a.tab{ :id => 'sites-tab', :href => '/admin/sites' } Sites
            = yield_content :header
            .notice
      #content 
        %section#editor.editor
          = yield  
          %noscript
            %h1 You need to change a setting in your web browser</h1> 
            %p 
              This application requires a browser feature called <strong>JavaScript</strong>. All modern browsers support JavaScript. 
              You probably just need to change a setting in order to turn it on.
              
            %p 
              Please see: <a href="http://www.google.com/support/bin/answer.py?answer=23852">How to enable JavaScript in your browser</a>.
            %p  
              Once you've enabled JavaScript you can <a href="">try loading this page again</a>.</p> <p>Thank you.</p> </div> </div>
        

      


