!!!5
%html
  %head
    %title Verlag CMS &ndash #{current_site.name}#{@title.nil? ? '' :  "&ndash; #{@title}"}
    %link{ :rel => 'stylesheet', :href => "/admin/css/verlag.css", :type => 'text/css' }   
    -# These need to be moved to the sass folder, perhaps as scss
    %link{ :rel => 'stylesheet', :href => "/css/codemirror.css", :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => "/css/javascript.css", :type => 'text/css' } 
    %link{ :rel => 'stylesheet', :href => "/css/css.css", :type => 'text/css' }   
    %link{ :rel => 'stylesheet', :href => "/css/xml.css", :type => 'text/css' }   
    // - if RACK_ENV == 'production'
    //   %script{ :src => '/javascripts/admin.min.js', :type => 'text/javascript', :charset => 'utf-8' }
    // - else   
    //   // %script{ :src => '/javascripts/admin.js', :type => 'text/javascript', :charset => 'utf-8' } 
    %script{ :src => '/javascripts/vendor/jquery-1.6.1.min.js', :type => 'text/javascript', :charset => 'utf-8' } 
    %script{ :src => '/javascripts/vendor/modernizr-1.7.min.js', :type => 'text/javascript', :charset => 'utf-8' }   
    %script{ :src => '/javascripts/vendor/sammy.js', :type => 'text/javascript', :charset => 'utf-8' }
    %script{ :src => '/javascripts/vendor/sammy.title.js', :type => 'text/javascript', :charset => 'utf-8' }
    %script{ :src => '/javascripts/vendor/sammy.nested_params.js', :type => 'text/javascript', :charset => 'utf-8' } 
    %script{ :src => '/javascripts/vendor/sammy.json.js', :type => 'text/javascript', :charset => 'utf-8' } 
    %script{ :src => '/javascripts/vendor/sammy.mustache.js', :type => 'text/javascript', :charset => 'utf-8' }  
    %script{ :src => '/javascripts/vendor/js-model-0.10.1.js', :type => 'text/javascript', :charset => 'utf-8' }
    %script{ :src => '/javascripts/vendor/codemirror.js', :type => 'text/javascript', :charset => 'utf-8' }  
    %script{ :src => '/javascripts/vendor/jquery.cookie.js', :type => 'text/javascript', :charset => 'utf-8' } 
    %script{ :src => '/javascripts/modes/javascript.js', :type => 'text/javascript', :charset => 'utf-8' }
    %script{ :src => '/javascripts/modes/css.js', :type => 'text/javascript', :charset => 'utf-8' } 
    %script{ :src => '/javascripts/modes/xml.js', :type => 'text/javascript', :charset => 'utf-8' }  
    %script{ :src => '/javascripts/modes/liquid.js', :type => 'text/javascript', :charset => 'utf-8' }
    %script{ :src => '/javascripts/models/asset.js', :type => 'text/javascript', :charset => 'utf-8' }
    %script{ :src => '/javascripts/models/layout.js', :type => 'text/javascript', :charset => 'utf-8' }  
    %script{ :src => '/javascripts/models/part.js', :type => 'text/javascript', :charset => 'utf-8' } 
    %script{ :src => '/javascripts/models/page.js', :type => 'text/javascript', :charset => 'utf-8' }   
    %script{ :src => '/javascripts/models/site.js', :type => 'text/javascript', :charset => 'utf-8' }
    // %script{ :src => '/javascripts/lib/view.js', :type => 'text/javascript', :charset => 'utf-8' } 
    %script{ :src => '/javascripts/lib/param.js', :type => 'text/javascript', :charset => 'utf-8' }    
    // %script{ :src => '/javascripts/views/asset_list_view.js', :type => 'text/javascript', :charset => 'utf-8' }
    %script{ :src => '/javascripts/lib/ajax_uploader.js', :type => 'text/javascript', :charset => 'utf-8' }
    %script{ :src => '/javascripts/lib/utilities.js', :type => 'text/javascript', :charset => 'utf-8' }
    %script{ :src => '/javascripts/controllers/assets.js', :type => 'text/javascript', :charset => 'utf-8' }
    %script{ :src => '/javascripts/controllers/layouts.js', :type => 'text/javascript', :charset => 'utf-8' }
    %script{ :src => '/javascripts/controllers/pages.js', :type => 'text/javascript', :charset => 'utf-8' }   
    %script{ :src => '/javascripts/controllers/sites.js', :type => 'text/javascript', :charset => 'utf-8' } 
    %script{ :src => '/javascripts/lib/admin.js', :type => 'text/javascript', :charset => 'utf-8' }    

    // This is where the mustache templates are rendered  
    = content :head

  %body
    .wrapper
      #header  
        %%h1 Verlag CMS    
        
        #tabs
          %a{ :href => '#/pages' } Pages 
          %a{ :href => '#/templates' } Templates
          %a{ :href => '#/assets' } Assets 
        = content :header
      #preview
        // %iframe#website{ :src => "/" }
      #content
        = yield  


